{% extends "loggedout_base.html" %}
{% block title %}FaceSpace - Join{% endblock %}
{% block body %}
  {# Sign Up Form #}
  <form class="form-join" method="POST" action="/join/">
    <h3>Create an account!</h3>

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="new_uname" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="new_password" required>

      <label><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="new_fname" required>

      <label><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="new_lname" required>

      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="new_email" required>

      <label><b>State</b></label>
      <input type="text" placeholder="Where are you from?" name="new_state" required>

      <button id="btnSignUp" type="submit">Create Account</button>
    </div>
  </form>
{% endblock %}
