{% extends "loggedout_base.html" %}
{% block title %}FaceSpace - Change Password{% endblock %}
{% block body %}
  <form class="form-password" method="POST" action="/password">
    <h3>Change Your Password</h3>
    <div class="container">

      {% if (error == '1') %}    
      <div class="alert alert-danger" role="alert">Passwords don't match!</div>
      {% endif %}

      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="new_uname" required>

      <label><b>New Password</b></label>
      <input type="password" placeholder="Enter Password" name="new_password" required>

      <label><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm New Password" name="confirm_new_password" required>

      <button id="btnChangePassword" type="submit">Change Password</button>
    </div>
  </form>
{% endblock %}
